
#contact_div{
    text-align: center;
    /* border:1px solid red; */
}

#contactHeading{
    text-align: center;
    padding:1rem;
    /* border:1px solid red; */
}
#contactIconsDiv{
    width:80%;
    /* border:1px solid red; */
    margin:auto;
}
#socialMediaIconsDiv{
    display: flex;
    width:50%;
    /* border:1px solid red; */
    margin:auto;
    flex-wrap:wrap;
    justify-content: space-between;
}
.socialMediaImg{
    width:5rem;
    height:5rem;
}
#sendMailDiv{
    /* border:1px solid aqua; */
    width:50%;
    margin:2rem auto;
}
#sendMailHeading{
    text-align: left;
    font-size:1.4rem;
}

.inputBox{
    width:80%;
    margin-bottom:0.7rem;
    font-size:1rem;
    text-align: center;
    padding:.4rem;
    /* border:2px solid aqua; */
    
}

#messageInput{
    height:140px;
    /* border:2px solid aqua; */
    text-align: center;
}
#formSubmitButton{
   background-color: grey;
   font-size:1.2rem;
   padding:0.5rem 2rem 0.5rem 2rem;
   border:none;
   color: white;
}
#formSubmitButton:hover{
    background-color: aqua;
    color:black;
}

@media (max-width:1200px){
    .socialMediaImg{
        width:4rem;
        height:4rem;
    }
    #sendMailHeading{
        margin-left:10%;
        font-size:1.6rem;
    }
    
    .inputBox{
        margin-bottom:0.7rem;
        font-size:1rem;
        color: black;
        text-align: center;
    }
    
    #messageInput{
        height:10rem;
    }
    #formSubmitButton{
       font-size:1.2rem;
       padding:0.5rem 2rem 0.5rem 2rem;
       border:none;
       color: white;
    }
    #formSubmitButton:hover{
        background-color: aqua;
        color:black;
    }
}


@media (max-width:760px){
    #socialMediaIconsDiv{
        width:90%;
    }
    .socialMediaImg{
        width:3rem;
        height:3rem;
    }
    #sendMailDiv{
        width:90%;
    }
    #sendMailHeading{
        margin-left:5%;
        font-size:1.6rem;
    }
    
    .inputBox{
        width:90%;
        border: none;
        margin-bottom:0.7rem;
        font-size:1rem;
        color: black;
        text-align: center;
        border:2px solid aqua;
    }
    
    #messageInput{
        height:10rem;
    }
    #formSubmitButton{
       font-size:1.2rem;
       padding:0.5rem 2rem 0.5rem 2rem;
       border:none;
       color: white;
    }
    #formSubmitButton:hover{
        background-color: aqua;
        color:black;
    }
}

@media (min-width:200px) and (max-width:480px){
    #socialMediaIconsDiv{
        width:95%;
    }

    #sendMailDiv{
        width:95%;
    }
    
    .inputBox{
        width:95%;
    }
    
    #messageInput{
        height:8rem;
    }
    #formSubmitButton{
       font-size:1rem;
    }
}